.container {
  border-top: 1px solid var(--secondary-color);
  padding: .7rem 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.author {
  font-family: var(--font-medium);
  font-size: 14px;
  color: var(--primary-action);
  margin-bottom: 2px;
}

.date {
  font-size: 12px;
  opacity: .5;  
}

.text {
  font-size: 16px;
}

.load {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  height: 28px;
  justify-content: center;
  min-width: 125px;
  align-items: center;
  font-size: 12px;
  border: 1px solid var(--primary-action);
  border-radius: 3px;
  color: var(--primary-action);
  align-self: flex-start;
}